* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    background: #111;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}
.logo span {
    color: #00e6b8;
}

.search-box input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    width: 250px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

/* Hide checkbox */
#menu-btn {
    display: none;
}

/* Hamburger style */
.menu-icon {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

/* Desktop menu */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu a:hover {
    color: #00e6b8;
}

/* ----------- RESPONSIVE ------------ */

@media (max-width: 768px) {
    .search-box input {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #222;
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 15px 0;
    }

    /* Show menu when checkbox is checked */
    #menu-btn:checked ~ .menu {
        display: flex;
    }

    .menu li {
        padding: 12px 0;
    }
}
